<!-- case_banner-start -->
<div class="case_banner">
    <div class="container banner_header">
        <div class="col-lg-6">
            <h2>Case</h2>
        </div>
        <div class="col-lg-6">
            <a href="http://" class="fr">More</a>
        </div>
    </div>
    <div class="container">
        <div class="case_item col-lg-4">
            <a href="http://">
                <img src="./images/product/u358.jpg" alt="" class="img-responsive">
                <h2>India 35TPH Limestone Grinding Plant</h2>
                <p>Customer Address: India</p>
                <p>Input Material: limestone</p>
                <p>Finished Particle Size: 200 mesh, D90</p>
            </a>

        </div>
        <div class="case_item col-lg-4">
            <a href="http://">
                <img src="./images/product/u358.jpg" alt="" class="img-responsive">
                <h2>India 35TPH Limestone Grinding Plant</h2>
                <p>Customer Address: India</p>
                <p>Input Material: limestone</p>
                <p>Finished Particle Size: 200 mesh, D90</p>
            </a>

        </div>
        <div class="case_item col-lg-4">
            <a href="http://">
                <img src="./images/product/u358.jpg" alt="" class="img-responsive">
                <h2>India 35TPH Limestone Grinding Plant</h2>
                <p>Customer Address: India</p>
                <p>Input Material: limestone</p>
                <p>Finished Particle Size: 200 mesh, D90</p>
            </a>

        </div>
    </div>
</div>
<!-- case_banner-end -->