<!-- case_banner-start -->
<div class="case_banner">
    <div class="container header_20">
        <div class="row">
            <div class="col-lg-6">
                <h2>Case</h2>
            </div>
            <div class="col-lg-6">
                <a href="/cases/index.html" class="fr">More</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="case_item col-lg-4 col-md-4">
                <a href="/cases/2018-11-20/395.html" class="thumbnail">
                    <img src="../images/home/u181.jpg" alt="" class="">
                    <h2>India 35TPH Limestone Grinding Plant</h2>
                    <p>Customer Address: India</p>
                    <p>Input Material: limestone</p>
                    <p>Finished Particle Size: 200 mesh, D90</p>
                </a>

            </div>
            <div class="case_item col-lg-4 col-md-4">
                <a href="/cases/2018-11-20/394.html" class="thumbnail">
                    <img src="../images/home/u185.jpg" alt="" class="">
                    <h2>Bangladesh 4TPH Feldspar &Quartz Grinding Plant</h2>
                    <p>Customer Address: Bangladesh</p>
                    <p>Input Material: feldspar and quartz</p>
                    <p>Finished Particle Size: 200mesh</p>
                </a>

            </div>
            <div class="case_item col-lg-4 col-md-4">
                <a href="/cases/2018-11-20/395.html" class="thumbnail">
                    <img src="../images/home/u187.jpg" alt="" class="">
                    <h2>Chongming 6TPH Slag-Cement Grinding Plant</h2>
                    <p>Customer Address: Chongming, China</p>
                    <p>Input Material: slag</p>
                    <p>Finished Particle Size: 325 mesh</p>
                </a>

            </div>
        </div>
    </div>
</div>
<!-- case_banner-end -->