<!-- footer-start -->
<footer>
    <div class="footer_container">
        <div class="footer_content container">
            <div class="row">
                <div class="col-lg-3 footer_pro">
                    <h2>PRODUCTS</h2>
                    <ul>
                        <li><a href="http://">MTW Series Trapezium Mill</a></li>
                        <li><a href="http://">MTM Series Trapezium Mill</a></li>
                        <li><a href="http://">LUM Ultrafine Vertical Mill</a></li>
                        <li><a href="http://">SCM Series Ultrafine Mill</a></li>
                        <li><a href="http://">LM Vertical Grinding Mill</a></li>
                        <li><a href="http://">MB5X Pendulum Roller Grinding Mill</a></li>
                        <li><a href="http://">Hammer Mill</a></li>
                        <li><a href="http://">Ball Mill</a></li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="col-lg-6">
                        <h2>SOLUTION</h2>
                        <ul>
                            <li><a href="http://">Limestone desulfurization preparation</a></li>
                            <li><a href="http://">Concrete ore processing</a></li>
                            <li><a href="http://">Clean coal powder preparation, petroleum coke milling</a></li>
                            <li><a href="http://">Mineral grinding</a></li>
                            <li><a href="http://">Limestone desulfurization preparation</a></li>
                            <li><a href="http://">Concrete ore processing</a></li>
                            <li><a href="http://">Clean coal powder preparation, petroleum coke milling</a></li>
                            <li><a href="http://">Mineral grinding</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h2>CASE</h2>
                        <ul>
                            <li><a href="http://">India 35TPH Limestone Grinding Plant</a></li>
                            <li><a href="http://">Which Limeston Crushers Are the Best Choice for Desulphurization</a></li>
                            <li><a href="http://">Characteristics of magnesium desulphurization technology</a></li>
                            <li><a href="http://">Magnesium Desulfurization Technology</a></li>
                            <li><a href="http://">Barite powder grinding process</a></li>
                            <li><a href="http://">Why We Need New Calcium Carbide Crushers</a></li>
                            <li><a href="http://">Version of theEuropean-type mill technology in environmental...</a></li>
                            <li><a href="http://">Magnesium Desulfurization Technology</a></li>
                            <li class="more"><a href="http://">Read more >></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2007-2018 SBM</p>
    </div>
</footer>
<script src="./bootstrap/js/bootstrap.js"></script>
</body>
</html>
<!-- footer-end -->
