<footer>
    <div class="footer_container">
        <div class="footer_content container">
            <div class="row">
                <div class="col-lg-3 footer_pro">
                    <h2>PRODUCTS</h2>
                    <ul>
                        <li><a href="//www.sbm-mill.com/products/mtw-mill.html">MTW Series Trapezium Mill</a></li>
                        <li><a href="//www.sbm-mill.com/products/mtm-mill.html">MTM Series Trapezium Mill</a></li>
                        <li><a href="//www.sbm-mill.com/products/lum.html">LUM Ultrafine Vertical Mill</a></li>
                        <li><a href="//www.sbm-mill.com/products/scm-mill.html">SCM Series Ultrafine Mill</a></li>
                        <li><a href="//www.sbm-mill.com/products/lm-mill.html">LM Vertical Grinding Mill</a></li>
                        <li><a href="//www.sbm-mill.com/products/mb5x-mill.html">MB5X Pendulum Roller Grinding Mill</a></li>
                        <li><a href="//www.sbm-mill.com/products/hammer-mill.html">Hammer Mill</a></li>
                        <li><a href="//www.sbm-mill.com/products/ball-mill.html">Ball Mill</a></li>
                    </ul>
                </div>
                <div class="col-lg-9">
                    <div class="col-lg-6">
                        <h2>SOLUTION</h2>
                        <ul>
                            <li><a href="//www.sbm-mill.com/solutions/ground-calcium-carbonate-grinding-mill.html">Ground
                                    Calcium Carbonate(GCC) Grinding Mill</a></li>
                            <li><a href="//www.sbm-mill.com/solutions/coal-mill.html">Coal powder preparation project</a></li>
                            <li><a href="//www.sbm-mill.com/solutions/gypsum-powder.html">Gypsum Powder Production Line</a></li>
                            <li><a href="//www.sbm-mill.com/solutions/calcium-carbonate.html">Grinding mill for Calcium carbonate</a></li>
                            <li><a href="//www.sbm-mill.com/solutions/thermal-power.html">Limestone powder desulfurizer process</a></li>
                            <li><a href="//www.sbm-mill.com/solutions/barite-crystal.html">Barite powder grinding process</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h2>CASE</h2>
                        <ul>
                            <li><a href="//www.sbm-mill.com/cases/india-limestone-grinding-plant.html">India 35TPH Limestone
                                    Grinding Plant</a></li>
                            <li><a href="//www.sbm-mill.com/cases/bangladesh-quartz-grinding-plant.html">Bangladesh 4TPH
                                    Feldspar &Quartz Grinding Plant</a></li>
                            <li><a href="//www.sbm-mill.com/cases/chongming-slag-cement-grinding-plant.html">Chongming 6TPH
                                    Slag-Cement Grinding Plant</a></li>
                            <li><a href="//www.sbm-mill.com/cases/iraq-gypsum-grinding-plant.html">Iraq 60000TPY Gypsum Grinding
                                    Plant</a></li>
                            <li><a href="//www.sbm-mill.com/cases/guizhou-limestone-grinding-plant.html">Guizhou 80,000TPY
                                    Limestone Grinding Plant</a></li>
                            <li><a href="//www.sbm-mill.com/cases/jiangsu-gypsum-grinding-plant.html">Jiangsu 100,000TPY
                                    Gypsum Grinding Plant</a></li>
                            <li><a href="//www.sbm-mill.com/cases/shanxi-bauxite-grinding-plant.html">Shanxi 50,000TPY Bauxite
                                    Grinding Plant</a></li>
                            <li class="more"><a href="./">Read more >></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2007-2018 SBM</p>
    </div>
</footer>