<!-- header-start -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>index</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="./style/common.css" />
    <script src="./js/jquery-3.3.1.min.js"></script>
</head>

<body>
    <header>
        <div class="header_nav container">
            <div class="fl logo">
                <a href=""></a>
            </div>
            <div class="fr">
                <ul class="list-unstyled nav_list pull-left">
                    <li class="active"><a href="#">HOME</a></li>
                    <li><a href="#">PRODUCT</a></li>
                    <li><a href="#">SOLUTION</a></li>
                    <li><a href="#">CASES</a></li>
                    <li><a href="#">NEWS</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
                <div class="header_content pull-left">
                    <div class="tel_pic"></div>
                    <p class="pull-left">Tel.:021-58386189</p>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->