<!-- material-start -->
<div class="material_banner">
    <div class="container banner_header">
        <div class="row">
            <div class="col-lg-6 col-xs-6">
                <h2>Material</h2>
            </div>
            <div class="col-lg-6 col-xs-6">
                <a href="./materials/" class="fr">More</a>
            </div>
        </div>

    </div>
    <div class="container tab-content material_thumbnail">
        <div role="tabpanel" class="tab-pane active in fade" id="one">
            <div class="row">
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u164.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u166.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u168.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u170.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u172.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u174.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
            </div>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="two">
            <div class="row">
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u164.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u166.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u168.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u170.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u172.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
                <div class="col-lg-2 col-xs-6">
                    <a href="http://">
                        <img src="./images/home/u174.png" alt="" class="img-responsive">
                        <p>Attapulgite</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom:40px;margin-top:30px;">
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 col-center">
                <ul class="nav nav-pills" id="materialTab">
                    <li role="presentation" class="active"><a href="#one" aria-controls="one" data-toggle="tab" role="tab"></a></li>
                    <li role="presentation"><a href="#two" aria-controls="two" data-toggle="tab" role="tab"></a></li>
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- material-end -->