<!-- material-start -->
<div class="material_banner">
    <div class="container banner_header">
        <div class="col-lg-6 col-xs-6">
            <h2>Material</h2>
        </div>
        <div class="col-lg-6 col-xs-6">
            <a href="http://" class="fr">More</a>
        </div>
    </div>
    <div class="container material_thumbnail">
        <div class="col-lg-2 col-xs-6">
            <a href="http://">
                <img src="./images/home/u164.png" alt="">
                <p>Attapulgite</p>
            </a>
        </div>
        <div class="col-lg-2 col-xs-6">
            <a href="http://">
                <img src="./images/home/u166.png" alt="">
                <p>Attapulgite</p>
            </a>
        </div>
        <div class="col-lg-2 col-xs-6">
            <a href="http://">
                <img src="./images/home/u168.png" alt="">
                <p>Attapulgite</p>
            </a>
        </div>
        <div class="col-lg-2 col-xs-6">
            <a href="http://">
                <img src="./images/home/u170.png" alt="">
                <p>Attapulgite</p>
            </a>
        </div>
        <div class="col-lg-2 col-xs-6">
            <a href="http://">
                <img src="./images/home/u172.png" alt="">
                <p>Attapulgite</p>
            </a>
        </div>
        <div class="col-lg-2 col-xs-6">
            <a href="http://">
                <img src="./images/home/u174.png" alt="">
                <p>Attapulgite</p>
            </a>
        </div>
    </div>
</div>
<!-- material-end -->