<!-- recommend_product_banner-start -->
<div class="recommend_product">
    <div class="container header_20">
        <div class="row">

            <div class="col-lg-12">
                <h2>Recommended Products</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-4">
                <a href="/products/lm-mill.html" class="thumbnail mockPic_p relative">
                    <img src="../images/home/u122.jpg" alt="...">
                    <p class="absolute">LM (0.8-0.038mm)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-4">
                <a href="/products/lum.html" class="thumbnail mockPic_p relative">
                    <img src="../images/product/u221.jpg" alt="...">
                    <p class="absolute">LUM (38-3μm)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-4">
                <a href="/products/mtm-mill.html" class="thumbnail mockPic_p relative">
                    <img src="../images/home/u126.jpg" alt="...">
                    <p class="absolute">MTM (1.6-0.045mm)</p>
                </a>
            </div>
            <div class="col-lg-3 col-md-3 col-xs-6 col-sm-4">
                <a href="/products/scm-mill.html" class="thumbnail mockPic_p relative">
                    <img src="../images/product/u215.jpg" alt="...">
                    <p class="absolute">SCM (38-3μm)</p>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- recommend_product_banner-end -->