@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: 'calibri';
}

fieldset,
img {
    border: 0;
}

ul,
ol,
li {
    list-style: none;
    font-family: 'calibri';
}

/* remember to define focus styles! */

:focus {
    outline: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    background-color: #fff;
    border: none;
}

code,
kbd,
samp,
tt {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #999999;
}

a:hover {
    text-decoration: none;
}

/*@purpose To enable resizing for IE */

/*@branch For IE6-Win, IE7-Win */

input,
button,
textarea {
    *font-size: 100%;
}

ol,
ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

sup,
sub {
    font-size: 100%;
    vertical-align: baseline;
}

/* remember to highlight anchors and inserts somehow! */

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/**Common Css**/

.fr {
    float: right;
    *display: inline;
}

.fl {
    float: left;
    *display: inline;
}

/*文本超出显示省略号*/

.ehn,
.otw,
.tow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*清除浮动*/

.clearfix {
    clear: both;
    *zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "\0020";
    visibility: hidden;
    height: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.boring>p {
    font-size: 20px;
    width: 100%;
    height: 40px;
    text-align: left;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    line-height: 40px;
    padding-left: 20px;
    color: #333;
}

/* urlnav-start */

.breadcrumb {
    background-color: #fff !important;
    padding: 20px 15px !important;
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

.breadcrumb li {
    font-size: 18px;
}

.breadcrumb li a {
    font-size: 18px;
}

/* urlnav-end */

/* material_banner-start */

.home_material_banner {
    width: 100%;
    background-color: #f2f2f2;
    padding-bottom: 10px;
}

.material_banner {
    width: 100%;
    padding-bottom: 10px;
}

.material_banner .material_thumbnail p {
    font-size: 18px;
    text-align: center;
    padding: 10px 0;
    color: #333;
}

.material_banner .nav li a {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #999999;
    padding: 0;
}

.col-center {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.material_banner .nav li.active a {
    display: block;
    width: 20px;
    height: 8px;
    border-radius: 4px;
    background-color: #FF9900;
    padding: 0;
}

/* material_banner-end */

/* case_banner-start */

.case_item h2 {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #333;
}

.case_item p {
    line-height: 22px;
    font-size: 16px;
    color: #999999;
}

.case_banner {
    width: 100%;
}

.case_banner .case_item {
    margin-bottom: 40px;
}

.case_banner .case_item img {
    margin: 0px;
}

.case_banner .case_item h2 {
    font-size: 18px;
    padding: 15px 0;
    color: #333;
}

.case_banner .case_item p {
    font-size: 16px;
    color: #999999;
    line-height: 22px;
}

/* case_banner-end */

/* form_banner-start */

.form_banner {
    width: 100%;
    margin-bottom: 50px;
}

.form_banner p {
    font-size: 16px;
}

.form_banner .btn-primary {
    font-size: 16px;
    line-height: 36px;
}

.btn-primary {
    background-color: #075CCB
}

.form-horizontal input,
.form-horizontal select,
.form-horizontal textarea {
    background-color: #F2F2F2;
    color: #bbbbbb;
    border-radius: 0;
    box-shadow: none;
}

.form-horizontal .form-control {}

/* form_banner-end */

/* header-start */

.header_nav {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-header {
    height: 98px;
}

.navbar-brand {
    height: 100%;
    padding: 0;
}

.navbar-brand img {
    width: 98px;
    height: 98px;
}

.header_nav .nav_list>li {
    margin: 0px;
    padding: 0 15px;
}

.header_nav .nav_list>li>a {
    line-height: 30px;
    padding: 15px 0px;
    margin: 19px 0px 19px 0px;
    font-size: 16px;
    color: #999999;
}

.header_nav .header_content .tel_pic {
    width: 24px;
    height: 24px;
    float: left;
    background: url(../images/product/u334.png) no-repeat center;
    background-size: cover;
    margin: 37px 0px 37px 0px;
}

.header_nav .header_content>p {
    line-height: 20px;
    margin: 39px 0px 39px 5px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #fff;
    color: #333333;
}

.navbar-default .navbar-nav li a {
    text-align: center;
}

.navbar-default .navbar-nav li.active:hover>a {
    background-color: #fff;
    color: #333333;
}

.navbar {
    margin-bottom: 0px;
}

.header_nav li.active a::after,
.header_nav li:hover a::after {
    margin: 0 auto;
    content: '';
    display: block;
    height: 3px;
    width: 20px;
    background-color: #333;
}

/* header-end */

/* footer-start */

.footer_container {
    width: 100%;
    background-color: #3f3f3f;
    color: #fff;
}

.footer_container .footer_content h2 {
    color: #fff;
    font-size: 20px;
    padding: 55px 0px 25px 0px;
}

@media(max-width: 750px) {
    .footer_container .footer_content .footer_pro {
        padding-left: 30px;
    }
}

@media(min-width: 750px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
        padding: 0 !important;
    }
}

.footer_container .footer_content a {
    color: #6e6e6e;
    font-size: 16px;
}

.footer_container .footer_content li {
    padding-bottom: 14px;
}

.footer_container .footer_content .more a {
    color: #fff;
}

.copyright {
    background-color: #303030;
}

.copyright>p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

/* footer-end */

.banner_header h2 {
    font-size: 32px;
    padding-bottom: 35px;
    padding-top: 60px;
}

.banner_header .fr {
    font-size: 16px;
    padding-bottom: 35px;
    padding-top: 60px;
}

.subbanner_header h2 {
    font-size: 24px;
    padding-bottom: 20px;
}

/* urlnav-start */

.breadcrumb {
    background-color: #fff !important;
    padding: 15px 0px 0px 0px !important;
}

/* urlnav-end */

/* ABOUT US-start */

/* banner-start */

.about_banner {
    height: 300px;
    background: url(../images/about_us/u824.jpg) no-repeat center;
    background-size: cover;
    z-index: -2;
}

.about_banner p {
    padding-top: 150px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* banner-end */

.xs-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.thumbnail {
    border: none !important;
    padding: 0;
}

/* introduction-start */

.introduction_banner {
    height: 570px;
    background: url(../images/about_us/u822.jpg) no-repeat left;
    display: table-cell;
    vertical-align: middle;
}

.introduction_banner .right_content {
    height: 480px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.introduction_banner .right_content>h2 {
    font-size: 32px;
    padding: 35px 0px 27px 35px;
}

.introduction_banner .right_content>p {
    color: #999999;
    font-size: 16px;
    padding: 0px 0px 5px 35px;
}

/* introduction-end */

/* honor-start */

.honor_banner {
    width: 100%;
    margin-bottom: 50px;
}

/* honor-end */

/* culture-start */

.culture_banner {
    width: 100%;
}

.culture_banner .nav-pills li a {
    background-color: #F2F2F2;
    margin-right: 15px;
    padding: 10px 0;
    border-radius: 0;
    font-size: 20px;
}

.culture_banner .nav-pills li.active a {
    background-color: #075CCB;
}

.culture_banner .table-responsive {
    border: none !important;
}

.culture_banner .tab-content td {
    border: none !important;
}

/* culture-end */

/* ABOUT US-end */

/* Solution-start */

/* banner-start */

.banner_mock {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

.solution_banner {
    height: 300px;
    background: url(../images/solution/u927.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    z-index: -2;
}

.solution_banner>h2 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 40px;
}

.solution_banner p {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* banner-end */

/* application_banner-satrt */

.application_banner {
    width: 100%;
    margin-bottom: 40px;
}

.application_banner .application_content .content_left p {
    padding-bottom: 20px;
    font-size: 16px;
}

.application_banner .application_content .content_left .panel {
    border: none !important;
    border-bottom: 0px;
    border-radius: 0;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    margin-bottom: 35px;
}

.application_banner .application_content .content_left .panel-heading {
    background-color: #fff !important;
    padding: 0 !important;
}

.application_banner .application_content .content_left .panel-body {
    border-top: none !important;
    border-bottom: 1px solid #f2f2f2;
    padding-left: 0 !important;
    color: #999999;
    font-size: 14px;
}

.application_banner .application_content .content_left .panel-body a {
    color: #286090;
}

/* application_banner-end */

/* Solution-end */

/* ContactUs-start */

/* banner-start */

.contact_banner {
    height: 300px;
    width: 100%;
    background: url(../images/contact_us/u1370.jpg) no-repeat center;
    background-size: cover;
    z-index: -2;
}

.contact_banner p {
    top: 0;
    left: 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 100px;
}

/* banner-end */

/* address_banner-start */

.address_banner {
    width: 100%;
    margin-bottom: 40px;
}

.address_banner .col-lg-4,
.address_banner .col-lg-8,
.address_banner .col-lg-12 {
    padding: 0 15px !important;
}

.address_banner .special_address {
    margin-bottom: 40px;
    height: 240px;
    background: url(../images/contact_us/u1406.jpg) no-repeat center;
}

.address_banner .special_address .mock_content {
    color: #fff;
    z-index: 100;
}

.address_banner .special_address .mock_content>h2 {
    font-size: 20px;
    padding: 40px 0 10px 30px;
}

.address_banner .special_address .mock_content>p {
    padding: 0 0 10px 30px;
    font-size: 16px;
}

.address_banner .address_item {
    width: 100%;
    height: 240px;
    background-color: #ececec;
    margin-bottom: 40px;
}

.address_banner .address_item>h2 {
    font-size: 18px;
    padding: 20px 0 10px 20px;
}

.address_banner .address_item>p {
    font-size: 16px;
    padding: 0 0 0 20px;
    color: #999999;
}

/* address_banner-end */

/* address_pic_banner-start */

.address_pic_banner {
    width: 100%;
    margin-bottom: 40px;
}

.address_pic_banner .container {}

.address_pic_banner .container img {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

/* address_pic_banner-end */

/* ContactUs-end */

/* product-start */

/* product_banner-start */

.product_banner {
    margin-bottom: 40px;
}

.product_banner p {
    font-size: 14px;
    padding: 0 0 15px 20px;
}

.product_banner span {
    color: #999999;
}

/* product_banner-end */

/* recommend_product_banner-start */

.recommend_product {
    width: 100%;
    margin-bottom: 40px;
}

.recommend_product {
    width: 100%;
    margin-bottom: 40px;
}

.recommend_product .mockPic_p>p {
    /* height: 15%;
    bottom: 0px;
    color: #000;
    padding-top: 3%;
    text-align: center;
    background-color: #fff;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5; */
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    bottom: 0;
    left: 0;
}

.recommend_product .thumbnail {
    background-color: #f8f8f8;
    max-width: 268px;
}

.recommend_product .thumbnail img {
    margin: 0;
}

/* recommend_product_banner-end */

/* product-end */

/* limestone-start */

/* material_introduction_banner-start */

.material_introduction_banner {
    width: 100%;
    margin-bottom: 40px;
}

.material_introduction_banner .introduct {
    background-color: #f2f2f2;
    padding: 15px 10px;
}

.material_introduction_banner .introduct h4 {
    font-size: 18px;
    padding: 5px 0px 10px 30px;
}

.material_introduction_banner .introduct p {
    color: #999999;
    padding: 0px 0px 0px 30px;
}

/* material_introduction_banner-end */

/* process_banner-start */

.process_banner {
    width: 100%;
    margin-bottom: 40px;
}

.process_banner .process img {
    height: 180px;
    width: 335px;
}

.process_banner .process p {
    color: #999999;
    padding: 30px 20px 30px 20px;
    background-color: #f2f2f2;
}

/* process_banner-end */

/* application_banner-start */

.application_banner {
    width: 100%;
    margin-bottom: 40px;
}

.application_banner .app_item {
    margin-bottom: 20px;
}

.application_banner .app_item p {
    color: #fff;
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 100px;
    z-index: 999;
}

/* application_banner-end */

/* limestone-end */

/* mtw-start */

/* product_banner-start */

.new_product_banner {
    margin-bottom: 20px;
}

.pro_detail .pro_introduct h1 {
    color: #333;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 35px;
}

.pro_detail .pro_introduct p {
    color: #999999;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.pro_detail .seek_price a {
    font-size: 16px;
    width: 165px;
    height: 45px;
    line-height: 33px;
    text-align: center;
    padding-left: 30px;
    border-radius: 0;
    background: url(../images/mtw/u398.png) no-repeat left;
    background-position: 15% 50%;
    background-size: 25px 25px
}

.pro_detail .seek_phone a {
    font-size: 16px;
    width: 155px;
    height: 45px;
    line-height: 33px;
    border-radius: 0;
    padding-left: 30px;
    border-radius: 0;
    background: url(../images/mtw/u662.png) no-repeat left;
    background-position: 20% 50%;
    background-size: 25px 25px;
    background-color: #FF9900;
}

/* product_banner-end */

/* product_series-start */

.product_series_banner #product_nav li {
    float: left;
}

.product_series_banner #product_nav li a {
    font-size: 20px;
    line-height: 40px;
    padding: 0 20px;
    color: #333;
}

.header_20 {
    font-size: 20px;
    padding-bottom: 20px;
}

.header_20 .fr {
    font-size: 16px;
}

.product_series_banner #product_nav li.active {
    background-color: #075ccb;
}

.product_series_banner #product_nav li:hover {
    background-color: #075ccb;
}

.product_series_banner #product_nav li:hover a {
    color: #fff;
}

.product_series_banner #product_nav li.active a {
    color: #fff;
}

.product_series_banner hr {
    margin-top: 0px;
}

/* product_series-end */

/* feature_banner-start */

.feature_banner {
    width: 100%;
    margin-bottom: 40px;
}

.feature_banner .feature_pic {
    width: 80px;
    height: 80px;
    background: url(../images/mtw/u412.png) no-repeat center;
    margin-left: 15px;
}

.feature_banner .features li {
    padding-bottom: 20px;
}

.feature_banner .features li p {
    display: inline-block;
    font-size: 16px;
    color: #999999;
    padding-left: 20px;
}

.feature_banner .features li b {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #075ccb;
}

.feature_banner .row {
    margin-top: 40px;
}

.feature_banner .feature_pic img {
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
}

.feature_banner .feature_content {
    padding-left: 110px;
}

.feature_banner .feature_content h2 {
    padding-bottom: 10px;
    font-size: 18px;
}

.feature_banner .feature_content p {
    color: #999999;
}

/* feature_banner-end */

/* principle_banner-start */

.principle_banner {
    margin-bottom: 40px;
}

.principle_banner p {
    color: #999999;
    font-size: 16px;
}

/* principle_banner-end */

/* mtw-end */

/* home-start */

/* home_header-start */

.home_header_nav {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
}

.home_header_nav video {
    width: 100%;
    height: auto;
    z-index: 99;
}

.mock {
    width: 100%;
    height: calc(100% - 5px);
    height: -moz-calc(100% - 5px);
    height: -webkit-calc(100% - 5px);
    top: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
}

@keyframes mousetip {
    0% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}

@-moz-keyframes mousetip {
    0% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}

@-webkit-keyframes mousetip {
    0% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}

@-o-keyframes mousetip {
    0% {
        bottom: 40px;
    }
    100% {
        bottom: 20px;
    }
}

.mousetip {
    display: block;
    background: url(../images/home/u183.png) no-repeat center;
    background-size: cover;
    bottom: 10px;
    left: 50%;
    width: 51px;
    height: 41px;
    z-index: 99;
    margin-left: -25px;
    animation-name: mousetip;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    -moz-animation-name: mousetip;
    -moz-animation-duration: 0.8s;
    -moz-animation-timing-function: linear;
    -moz-animation-delay: 0.3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-play-state: running;
    -webkit-animation-name: mousetip;
    -webkit-animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0.3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
    -o-animation-name: mousetip;
    -o-animation-duration: 0.8s;
    -o-animation-timing-function: linear;
    -o-animation-delay: 0.3s;
    -o-animation-iteration-count: infinite;
    -o-animation-direction: alternate;
    -o-animation-play-state: running;
}

.home_header_nav .home_head {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.home_header_nav .header_nav {
    border: none;
}

.home_header_nav .navbar-header {
    height: 98px;
}

.home_header_nav .navbar-brand {
    height: 100%;
    padding: 0;
}

.home_header_nav .navbar-brand img {
    width: 98px;
    height: 98px;
}

.home_header_nav .header_nav .nav_list>li {
    margin: 0px;
    padding: 0 15px;
}

.home_header_nav .header_nav .nav_list>li>a {
    line-height: 30px;
    font-size: 16px;
    color: #fff;
}

.home_header_nav .header_nav .header_content .tel_pic {
    width: 24px;
    height: 24px;
    float: left;
    background: url(../images/home/u37.png) no-repeat center;
    background-size: cover;
    margin: 37px 0px 37px 0px;
}

.home_header_nav .header_nav .header_content>p {
    line-height: 20px;
    margin: 39px 0px 39px 5px;
    color: #fff;
}

.home_header_nav .navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.home_header_nav .navbar-default .navbar-nav li.active:hover>a {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;

}

.home_header_nav .header_nav li a {
    text-align: center;
}

.home_header_nav .header_nav li.active a,
.home_header_nav .header_nav li:hover a {
    border-bottom: none;
    color: #fff;
}

.home_header_nav .navbar {
    margin-bottom: 0px;
}

.home_header_nav .header_nav li.active a::after,
.home_header_nav .header_nav li:hover a::after {
    margin: 0 auto;
    content: '';
    display: block;
    height: 3px;
    width: 20px;
    background-color: #fff;
}

.home_header_nav .home_intro {
    z-index: 999;
    width: 100%;
    color: #fff;
    top: 300px;
}

.home_header_nav .home_intro h1 {
    font-size: 55px;
}

.home_header_nav .home_intro p {
    font-size: 30px;
    padding-top: 20px;
}

/* home_header-end */

/* home_fivebanner-start */

.home_fivebanner .pic_small {
    /* width: 274px; */
}

.home_fivebanner .pic_big {
    /* width: 574px; */
}

.home_fivebanner td {
    border: none !important;
}

.home_product_banner {
    width: 100%;
    background-color: #F2F2F2;
    padding-bottom: 50px;
}

.home_product_banner .thumbnail {
    background-color: #F2F2F2;
    max-width: 268px;
}

.home_product_banner .thumbnail img {
    margin: 0;
}

.home_product_banner h3 {
    max-width: 268px;
    font-size: 18px;
    text-align: center;
    color: #333;
    background-color: #F2F2F2;
    padding-top: 20px;
}

.super_mock:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

.bottom_mock:after {
    content: '';
    display: block;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom_con {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: left;
    z-index: 999;
}

.bottom_con h2 {
    padding: 3% 0 3% 3%;
    font-size: 18px;
}

.super_con {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 999;
}

.super_con h2 {
    font-size: 32px;
    text-align: center;
    padding-top: 12%;
}

.super_con p {
    font-size: 16px;
    padding: 8% 8% 0 8%;
    text-align: left;
}

.super_con a {
    margin-top: 5%;
}

/* home_fivebanner-end */

/* home-end */

/* products-start */

/* mian_product_banner-start */

.main_product_banner {
    width: 100%;
    margin-bottom: 40px;
}

.main_product_banner .nav-pills li {
    margin-right: 15px;
}

.main_product_banner .nav-pills li a {
    background-color: #F2F2F2;
    padding: 8px 60px;
    border-radius: 0;
    font-size: 20px;
}

.main_product_banner .nav-pills li:hover a {
    background-color: #075CCB;
    color: #fff;
}

.main_product_banner .nav-pills li.active a {
    background-color: #075CCB;
}

.main_product_banner .tab-content h2 {
    font-size: 18px;
    width: inherit;
    text-align: center;
    line-height: 60px;
    background-color: #f2f2f2;
    color: #333;
    margin-bottom: 35px;
}

.main_product_banner .aaa {
    background-color: #f2f2f2;
}

/* main_product_banner-end */

/* products_banner-start */

.products_banner {
    height: 300px;
    background: url(../images/product/u189.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
    z-index: -2;
}

.products_banner .products_banner_content {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.products_banner .products_banner_content h2 {
    font-size: 40px;
    padding-top: 60px;
}

.products_banner .products_banner_content p {
    font-size: 20px;
    padding-top: 40px;
}

/* products_banner-end */

/* product_bottom_banner-start */

.product_bottom_banner {
    margin-bottom: 40px;
    width: 100%;
}

.product_bottom_banner .nav_list {
    margin-bottom: 40px;
    width: 100%;
    background-color: #ececec;
}

.product_bottom_banner .nav-pills li a {
    background-color: #ECECEC;
    padding: 10px 50px;
    font-size: 20px;
}

.product_bottom_banner .nav-pills li.active a {
    background-color: #075CCB;
}

.product_bottom_banner .nav-pills li:hover a {
    background-color: #075CCB;
    color: #fff;
}

.product_bottom_banner .nav a {
    padding: 10px 40px;
    border-radius: 0;
}

.product_bottom_banner .col-lg-4 {
    overflow: hidden;
}

.product_bottom_banner .mock_content {
    top: 82%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 0 15px;
}

.product_bottom_banner .mock_content h2 {
    padding-top: 10px;
    color: #333333;
    font-size: 18px;
}

.product_bottom_banner .mock_content p {
    text-align: left;
    padding: 20px 0 0 10px;
    font-size: 16px;
}

.product_bottom_banner .mock_content {
    transition: all 3s;
    -webkit-transition: all 1s;
}

.product_bottom_banner a.pic_item:hover .mock_content {
    top: 0;
    padding: 0 15px;
}

.product_bottom_banner a.pic_item:hover .mock_content>h2 {
    padding-top: 30px;
    color: #333333;
    font-size: 18px;
}

.product_bottom_banner a.pic_item:hover .mock_content>p {
    color: #999999;
    text-align: left;
    padding: 20px 0 0 10px;
    font-size: 16px;
}

.product_bottom_banner a.pic_item .col-lg-4 {
    padding: 0 15px 0 0!important;
}

/* product_bottom_banner-end */

/* products-end */

/* news-start */

/* news_banner-start */

.news_banner {
    height: 300px;
    background: url(../images/news/u664.jpg) no-repeat center;
    background-size: cover;
    z-index: -2;
}

.news_banner .news_banner_content {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.news_banner .news_banner_content h2 {
    font-size: 28px;
    padding-top: 80px;
}

.news_banner .news_banner_content p {
    font-size: 16px;
    padding-top: 40px;
}

/* news_banner-end */

/* newslist_banner-start */

.newslist_banner {
    margin-bottom: 40px;
}

.newslist_banner .news_date {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    color: #999999;
}

.newslist_banner .news_date .date_day {
    font-size: 56px;
    text-align: center;
    line-height: 100%;
    padding-top: 10%;
}

.newslist_banner .news_date .date_yearmonth {
    font-size: 16px;
    text-align: center;
    line-height: 100%;
    padding-bottom: 10%;
}

.newslist_banner .news_content {
    width: 100%;
    height: 100%;
}

.newslist_banner .news_content .news_title {
    font-size: 18px;
}

.newslist_banner .news_content .news_int {
    color: #bababa;
    padding-top: 1%;
}

.newslist_banner .news_content a {
    display: block;
    color: #bababa;
    padding-top: 1%;
}

.newslist_banner .news_item:hover .news_date {
    color: #075ccb;
}

.newslist_banner .news_item .col-lg-2 {
    padding: 0 15px 0 0 !important;
}

.newslist_banner .news_item .col-lg-10 {
    padding: 0 0 0 15px !important;
}

.newslist_banner .news_item:hover .news_content a {
    color: #075ccb;
}

/* newslist_banner-end */

/* news-end */

/* news-content-start */

.new_con {
    padding-bottom: 50px;
}

.new_con h1 {
    font-size: 24px;
    padding: 20px 0;
    text-align: center;
}

/* news-content-end */

/* material-start */

/* materialall_banner-strat */

.materialall_banner {
    width: 100%;
    height: 300px;
    background: url(../images/materiel/u1508.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.materialall_banner .materialall_banner_content h2 {
    font-size: 24px;
    padding-top: 50px;
}

.materialall_banner .materialall_banner_content p {
    font-size: 16px;
    padding-top: 20px;
}

/* materialall_banner-end */

/* materiallist_banner-start */

.materiallist_banner {
    margin-bottom: 40px;
}

.materiallist_banner .material_item {
    margin-bottom: 40px;
}

.materiallist_banner .material_item .material_pic img {
    height: 130px;
}

.materiallist_banner .material_item .material_intro {
    background-color: #f2f2f2;
    height: 130px;
}

.materiallist_banner .material_item h2 {
    font-size: 18px;
    padding-top: 10px;
}

.materiallist_banner .material_item p {
    color: #999999;
    padding-bottom: 10px;
}

/* materiallist_banner-end */

/* material-end */

/* cases-start */

/* cases_banner-start */

.cases_banner {
    height: 300px;
    background: url(../images/solution/u927.jpg) no-repeat center;
    background-size: cover;
    z-index: -2;
}

.case_pills .nav-pills li a {
    background-color: #F2F2F2;
    margin-right: 10px;
    padding: 10px 0;
    border-radius: 0;
    font-size: 20px;
    color: #333;
}

.case_pills .nav-pills li:hover a {
    background-color: #075CCB;
    color: #fff;
}

.case_pills .nav-pills li.active a {
    background-color: #075CCB;
}

.cases_banner .cases_banner_content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.cases_banner .cases_banner_content h2 {
    font-size: 40px;
    padding-top: 80px;
}

.cases_banner .cases_banner_content p {
    font-size: 20px;
    padding-top: 40px;
}

/* cases_banner-end */

/* cases-end */

/* ground-calcium-carbonate-grinding-mill-start */

/* solution_content_banner-start */

.ground_calcium_banner {
    height: 300px;
    background: url(../images/solution/solution-banner-ground-calcium-carbonate.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
}

/* solution_content_banner-end */

/* intro_banner-start */

.intro_banner {
    padding: 40px 0;
}

.intro_banner .cc-intros p.cc-intro {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.intro_banner .cc-intros p {
    font-size: 16px;
    color: #888;
    text-align: justify;
}

/* intro_banner-end */

/* grinding_pro_banner-start */

.grinding_pro_banner {
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 40px 0;
    margin-bottom: 40px;
}

.grinding_pro_banner h2.cc-intro {
    font-size: 20px;
    margin: 10px 0;
}

.grinding_pro_banner p.cc-con {
    color: #888;
    margin-top: 40px;
}

.grinding_pro_banner .pt {
    margin-top: 60px;
}

.grinding_pro_banner .pt .line {
    width: 100%;
    border-top: 1px solid #b7bdc7;
}

.grinding_pro_banner .pt p {
    position: relative;
    top: -15px;
    font-size: 18px;
    background: #f5f5f5;
    color: #333;
}

.grinding_pro_banner .cscm .cscm-left h4 {
    color: #181777;
    font-size: 18px;
    background: url(../images/solution/bg.png) no-repeat;
    background-position: 0 -404px;
    padding-left: 26px;
    margin: 30px 0 10px 0;
}

.grinding_pro_banner .cscm .cscm-right h4 {
    color: #181777;
    font-size: 18px;
    background: url(../images/solution/bg.png) no-repeat;
    background-position: 0 -404px;
    padding-left: 26px;
    margin: 30px 0 10px 0;
}

/* grinding_pro_banner-end */

/* useIn_banner-start */

.useIn_banner {
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 40px 0;
    margin-bottom: 40px;
}

.useIn_banner h2.cc-intro {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.useIn_banner .af {
    padding-top: 50px;
    padding-bottom: 10px;
}

.useIn_banner .af span {
    font-size: 24px;
    font-weight: bold;
    background: #181777;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.useIn_banner .af h5 {
    font-size: 16px;
    line-height: 30px;
}

/* useIn_banner-end */

/* ground-calcium-carbonate-grinding-mill-end */

/* coal-mill-start */

/* lm-start */

.lm {
    width: 100%;
    background-color: #fff8e8;
    padding-bottom: 30px;
}

.lm .coal-left p.c-tiztle {
    margin-bottom: 30px;
    line-height: 18px;
}

.lm .coal-left span {
    font-weight: bold;
}

.lm .coal-right {
    padding-top: 40px;
}

/* lm-end */

/* mtm-start */

.mtm {
    width: 100%;
    background-color: #fecb3c;
    padding-bottom: 30px;
}

.mtm .coal-right p.c-tiztle {
    margin-bottom: 30px;
    line-height: 18px;
}

.mtm .coal-right span {
    font-weight: bold;
}

.mtm .coal-left {
    padding-top: 40px;
}

/* mtm-end */

/* mtw-start */

.mtw {
    width: 100%;
    background-color: #ff4941;
    padding-bottom: 30px;
}

.mtw .coal-left p {
    color: #fff;
}

.mtw .coal-left p.c-tiztle {
    margin-bottom: 30px;
    line-height: 18px;
    color: #fff;
}

.mtw .coal-left span {
    font-weight: bold;
    color: #fff902;
}

.mtw .coal-right {
    padding-top: 40px;
}

/* lm-end */

/* scm-start */

.scm {
    width: 100%;
    background-color: #16172a;
    padding-bottom: 30px;
}

.scm .coal-right p {
    color: #fff;
}

.scm .coal-right p.c-tiztle {
    margin-bottom: 30px;
    line-height: 18px;
    color: #fff;
}

.scm .coal-right span {
    font-weight: bold;
    color: #fff902;
}

.scm .coal-left {
    padding-top: 40px;
}

/* scm-end */

/* coal-mill-end */

/* gypsum-powder-start */

/* banner-start */

.gypsum-powder_banner {
    height: 300px;
    background: url(../images/solution/solution-banner-gypsum.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

/* banner-end */

/* overview_banner-start */

.overview_banner {
    padding: 40px 0;
}

.overview_banner p {
    color: #888;
    text-align: justify;
}

.overview_banner p.cc-intro {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.overview_banner .ng {
    margin-top: 30px;
}

.overview_banner .ng p {
    text-align: justify;
    color: #888;
}

.overview_banner .ng img {
    padding: 0;
}

.overview_banner .ng h3 {
    font-size: 18px;
    background: url(../images/solution/bg.png);
    background-position: -2px -320px;
    padding-left: 20px;
    margin-bottom: 13px;
}

/* overview_banner-end */

/* gypsum_application_banner-start */

.gypsum_application_banner {
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 40px 0;
}

.gypsum_application_banner h2.cc-intro {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #181777;
    text-align: center;
}

.gypsum_application_banner p {
    color: #888;
    text-align: justify;
}

.gypsum_application_banner .media_con {
    background-color: #fff;
}

.gypsum_application_banner .media_con .media-body {
    color: #888;
}

.gypsum_application_banner .media_con .media-body h4 {
    color: #333;
    margin-top: 15px;
}

/* gypsum_application_banner-end */

/* hypsum_intro_banner-start */

.gypsum_intro_banner {
    padding: 40px 0;
}

.gypsum_intro_banner h2.cc-intro {
    text-align: center;
    font-size: 20px;
    margin: 10px 0;
}

.gypsum_intro_banner p {
    color: #888;
    text-align: justify;
}

.gypsum_intro_banner .cc-con {
    margin-top: 40px;
    background-color: #ececec;
    overflow: hidden;
}

.gypsum_intro_banner img.con-left {
    padding: 0;
}

.gypsum_intro_banner .con-right {
    padding: 0;
}

.gypsum_intro_banner .con-right .con-title {
    padding: 0;
    margin: 40px 0 0 25px;
    color: #333;
    font-size: 18px;
}

.gypsum_intro_banner .con-right .sub-title {
    padding: 0;
    margin: 40px 0 0 25px;
    color: #888;
    font-size: 18px;
}

.gypsum_intro_banner .con-right ul {
    margin: 10px 0 0 25px;
}

.gypsum_intro_banner .con-right ul li {
    line-height: 30px;
    background: url(../images/solution/bg.png);
    background-position: -2px -315px;
    padding-left: 20px;
    width: 300px;
    color: #888;
}

/* hypsum_intor_banner-end */

/* gypsum-powder-end */

/* calcium-carbonate-start */

/* calcium_banner-start */

.calcium_carbonate_banner {
    height: 300px;
    background: url(../images/solution/solution-banner.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

/* calcium_banner-end */

/* equipment_need_banner-start */

.equipment_need_banner {
    padding: 40px 0;
}

.equipment_need_banner h2.cc-intro {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.equipment_need_banner .en {
    background-color: #f5f5f5;
    overflow: hidden;
    margin-top: 40px;
}

.equipment_need_banner .en-img {
    padding: 0;
}

.equipment_need_banner .en-content p {
    text-align: justify;
    color: #888;
    padding: 40px 20px;
}

.equipment_need_banner .en-img span {
    position: relative;
    background: #333;
    opacity: 0.7;
    color: #fff;
    margin-top: -33px;
    display: block;
    height: 33px;
    line-height: 33px;
    text-align: center;
    font-size: 18px;
}

/* equipment_need_banner-end */

/* applicationIn_banner-start */

.applicationIn_banner {
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 40px 0;
    margin-bottom: 40px;
}

.applicationIn_banner p {
    color: #888;
}

.applicationIn_banner h2.cc-intro {
    font-size: 20px;
    margin: 10px 0;
    text-align: center;
}

.applicationIn_banner .af {
    padding-top: 50px;
    padding-bottom: 10px;
}

.applicationIn_banner .af span {
    font-size: 24px;
    font-weight: bold;
    background: #181777;
    color: #fff;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
}

.applicationIn_banner .af h5 {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}

/* applicationIn_banner-end */

/* calcium-carbona-end */

/* barite-crystal-start */

/* banner-start */

.barite_crystal_banner {
    height: 300px;
    background: url(../images/solution/solution-banner.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

/* banner-end */

/* processing_tec_banner-start */

.processing_tec_banner {
    width: 100%;
    background: #f5f5f5;
    padding: 40px 0;
    overflow: hidden;
}

.processing_tec_banner h2.cc-intro {
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.processing_tec_banner p {
    color: #888;
    text-align: justify;
}

.processing_tec_banner ul {
    margin-top: 10px;
}

.processing_tec_banner ul li {
    background: url(../images/solution/bg.png);
    background-position: 0 -285px;
    list-style: none;
    padding: 0 0 0 35px;
    line-height: 35px;
}

/* processing_tec_banner-end */

/* barite-crystal-end */

/* thermal-power-start */

/* 最外层背景-start */

.bg {
    width: 100%;
    background: url(../images/solution/thermal-bg.jpg) center top #d9e9fe no-repeat;
}

/* 最外层背景-end */

.fff {
    background-color: #fff;
}

/* chemical_principle_banner-start */

.chemical_principle_banner {
    padding-top: 400px;
}

.chemical_principle_banner h2.cc-intro {
    text-transform: uppercase;
    height: 42px;
    line-height: 42px;
    color: #fff;
    background: url(../images/solution/thermal-h2-bg.jpg) left no-repeat #6198D1;
    font-size: 20px;
    font-weight: bold;
}

.chemical_principle_banner .intro-left {
    padding: 40px 15px;
}

.chemical_principle_banner .intro-left p {
    line-height: 25px;
    text-align: left;
    color: #888;
    font-size: 14px;
    padding-bottom: 20px;
}

.chemical_principle_banner .intro-right {
    padding-top: 40px;
    padding-bottom: 40px;
}

.chemical_principle_banner .intro-right p {
    color: #888;
    font-size: 14px;
}

.chemical_principle_banner .intro-right p.ht {
    color: #888;
    font-size: 14px;
    line-height: 40px;
}

.chemical_principle_banner .intro-right p.pr {
    font-size: 30px;
    color: #333;
    margin: 25px 0 10px 0;
}

.chemical_principle_banner .intro-right p.jane {
    line-height: 25px;
    margin-top: 15px;
    color: #888;
}

.chemical_principle_banner .intro-right .ht span {
    border-bottom: 1px dashed #8c8e91;
    color: #8c8e91;
    padding: 0 5px;
    position: relative;
    top: -10px;
}

.chemical_principle_banner .intro-right .jane>span {
    color: #333;
}

/* chemical_principle_banner-end */

/* desulfurization_process_banner-start */

.desulfurization_process_banner h2.cc-intro {
    text-transform: uppercase;
    height: 42px;
    line-height: 42px;
    color: #fff;
    background: url(../images/solution/thermal-h2-bg.jpg) left no-repeat #6198D1;
    font-size: 20px;
    font-weight: bold;
}

.desulfurization_process_banner h3 {
    font-size: 30px;
    padding: 30px 0;
}

.desulfurization_process_banner .intro p {
    color: #888;
    font-size: 16px;
    text-align: center;
    padding-bottom: 30px;
}

/* desulfurization_process_banner-end */

/* instance_site_banner-start */

.instance_site_banner {}

.instance_site_banner h2.cc-intro {
    text-transform: uppercase;
    height: 42px;
    line-height: 42px;
    color: #fff;
    background: url(../images/solution/thermal-h2-bg.jpg) left no-repeat #6198D1;
    font-size: 20px;
    font-weight: bold;
}

.instance_site_banner .intro {
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px dashed #d2d2d2;
}

.instance_site_banner .intro-left p {
    color: #888;
    font-size: 14px;
    text-align: justify;
    padding-bottom: 20px;
}

.instance_site_banner .intro-left span {
    font-weight: bold;
}

.instance_site_banner .intro-right h4 {
    color: #163f96;
    font-size: 24px;
    padding-bottom: 10px;
}

.instance_site_banner .intro-right p {
    color: #888;
    font-size: 14px;
    line-height: 25px;
}

.instance_site_banner .intro-right span {
    color: #163f96;
    font-weight: bold;
}

.instance_site_banner .intro-right .war3club {
    padding: 20px 0 0 0;
}

.instance_site_banner .intro-right .war3club img {
    display: block;
}

.instance_site_banner .intro-right .war3club span {
    position: relative;
    background: #333;
    opacity: 0.7;
    color: #fff;
    margin-top: -35px;
    display: block;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
}

/* instance_site_banner-end */

/* powerder_advantage_banner-start */

.powerder_advantage_banner h2.cc-intro {
    text-transform: uppercase;
    height: 42px;
    line-height: 42px;
    color: #fff;
    background: url(../images/solution/thermal-h2-bg.jpg) left no-repeat #6198D1;
    font-size: 20px;
    font-weight: bold;
}

.powerder_advantage_banner .intro {
    padding-top: 40px;
    padding-bottom: 40px;
}

.powerder_advantage_banner .intro p {
    color: #888;
    font-size: 14px;
    text-align: justify;
}

.powerder_advantage_banner .intro .preparation {
    padding-top: 20px;
}

.powerder_advantage_banner .intro .preparation h5 {
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.powerder_advantage_banner .intro .preparation p {
    font-size: 14px;
    color: #888;
    text-align: center;
}

/* powerder_advantage_banner-end */

/* thermal-power-end */