@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}

fieldset,
img {
    border: 0;
}

ul,
ol,
li {
    list-style: none;
    font-family: 'Microsoft YaHei';
}

/* remember to define focus styles! */

:focus {
    outline: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
    font-style: normal;
    font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    background-color: #fff;
    border: none;
}

code,
kbd,
samp,
tt {
    font-size: 100%;
}

a {
    text-decoration: none;
    color: #999999;
}

a:hover {
    text-decoration: none;
}

/*@purpose To enable resizing for IE */

/*@branch For IE6-Win, IE7-Win */

input,
button,
textarea {
    *font-size: 100%;
}

ol,
ul {
    list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */

table,
tr,
td {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

sup,
sub {
    font-size: 100%;
    vertical-align: baseline;
}

/* remember to highlight anchors and inserts somehow! */

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/**Common Css**/

.fr {
    float: right;
    *display: inline;
}

.fl {
    float: left;
    *display: inline;
}

/*文本超出显示省略号*/

.ehn,
.otw,
.tow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*清除浮动*/

.clearfix {
    clear: both;
    *zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: "\0020";
    visibility: hidden;
    height: 0;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.mockPic_p>p {
    height: 10%;
    width: 100%;
    bottom: 0px;
    color: #000;
    padding-top: 1%;
    background-color: #fff;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/* urlnav-start */

.breadcrumb {
    background-color: #fff !important;
    padding: 20px 15px !important;
}

/* urlnav-end */

/* material_banner-start */

.material_banner {
    width: 100%;
    margin-bottom: 50px;
}

.material_banner .material_thumbnail p {
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
}

/* material_banner-end */

/* case_banner-start */

.case_banner {
    width: 100%;
}

.case_banner .case_item {
    margin-bottom: 40px;
}

.case_banner .case_item h2 {
    font-size: 16px;
    padding-top: 15px;
    color: #000;
}

.case_banner .case_item p {
    font-size: 14px;
    padding-top: 10px;
    color: #999999;
}

/* case_banner-end */

/* form_banner-start */

.form_banner {
    width: 100%;
    margin-bottom: 50px;
}

.form-horizontal input,
.form-horizontal select,
.form-horizontal textarea {
    background-color: #f2f2f2;
    color: #bbbbbb;
}

/* form_banner-end */

/* header-start */

/* .header_nav .logo {
    width: 98px;
    height: 98px;
    background: url(../images/product/logo.png) no-repeat center;
    background-size: cover;
}

.header_nav .logo>a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.header_nav .nav_list>li {
    float: left;
    height: 30px;
    font-size: 16px;
    margin: 34px 30px 34px 0px;
    border-bottom: 2px solid #fff;
}

.header_nav .header_content .tel_pic {
    width: 24px;
    height: 24px;
    float: left;
    background: url(../images/product/u334.png) no-repeat center;
    background-size: cover;
    margin: 31px 0px 37px 0px;
}

.header_nav .header_content>p {
    margin: 35px 0px 43px 5px;
}

.header_nav li.active,
.header_nav li:hover {
    border-bottom: 2px solid #000;
    color: #999999;
} */

.header_nav {
    background-color: rgba(255, 255, 255, 0);
}

.navbar-header {
    height: 98px;
}

.navbar-brand {
    height: 100%;
    padding: 0;
}

.navbar-brand img {
    width: 98px;
    height: 98px;
}

.header_nav .nav_list>li {
    margin: 0px;
    padding: 0 15px;
}

.header_nav .nav_list>li>a {
    line-height: 30px;
    padding: 15px 0px;
    margin: 19px 0px 19px 0px;
    font-size: 16px;
}

.header_nav .header_content .tel_pic {
    width: 24px;
    height: 24px;
    float: left;
    background: url(../images/product/u334.png) no-repeat center;
    background-size: cover;
    margin: 37px 0px 37px 0px;
}

.header_nav .header_content>p {
    line-height: 20px;
    margin: 39px 0px 39px 5px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #fff;
}

.navbar {
    margin-bottom: 0px;
}

.header_nav li.active a,
.header_nav li:hover a {
    border-bottom: 2px solid #000;
    color: #999999;
}

/* header-end */

/* footer-start */

.footer_container {
    width: 100%;
    background-color: #3f3f3f;
    color: #fff;
}

.footer_container .footer_content h2 {
    color: #fff;
    font-size: 20px;
    padding: 55px 0px 25px 0px;
}

@media(max-width: 750px) {
    .footer_container .footer_content .footer_pro {
        padding-left: 30px;
    }
}

.footer_container .footer_content a {
    color: #6e6e6e;
    font-size: 14px;
}

.footer_container .footer_content li {
    padding-bottom: 14px;
}

.footer_container .footer_content .more a {
    color: #fff;
}

.copyright {
    background-color: #303030;
}

.copyright>p {
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

/* footer-end */

.banner_header h2 {
    font-size: 20px;
    padding-bottom: 20px;
}

/* urlnav-start */

.breadcrumb {
    background-color: #fff !important;
    padding: 15px 15px !important;
}

/* urlnav-end */

/* ABOUT US-start */

/* banner-start */

.about_banner {
    height: 300px;
    background: url(../images/about_us/u824.jpg) no-repeat center;
    background-size: cover;
}

.about_banner p {
    padding-top: 150px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

/* banner-end */

/* introduction-start */

.introduction_banner {
    height: 570px;
    background: url(../images/about_us/u822.jpg) no-repeat left;
    display: table-cell;
    vertical-align: middle;
}

.introduction_banner .right_content {
    height: 480px;
    background-color: #f2f2f2;
    overflow: hidden;
}

.introduction_banner .right_content>h2 {
    font-size: 30px;
    padding: 35px 0px 27px 35px;
}

.introduction_banner .right_content>p {
    color: #999999;
    padding: 0px 0px 5px 35px;
}

/* introduction-end */

/* honor-start */

.honor_banner {
    width: 100%;
    margin-bottom: 50px;
}

/* honor-end */

/* culture-start */

.culture_banner {
    width: 100%;
}

.culture_banner .table-responsive {
    border: none !important;
}

.culture_banner .tab-content td {
    border: none !important;
}

/* culture-end */

/* ABOUT US-end */

/* Solution-start */

/* banner-start */

.solution_banner {
    height: 300px;
    background: url(../images/solution/u927.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.solution_banner>h2 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-top: 95px;
    padding-bottom: 40px;
}

.solution_banner p {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

/* banner-end */

/* application_banner-satrt */

.application_banner {
    width: 100%;
    margin-bottom: 40px;
}

.application_banner .application_content .content_left p {
    padding-bottom: 20px;
    font-size: 16px;
}

.application_banner .application_content .content_left .sub_p {
    padding-bottom: 0px;
    color: #999999;
    font-size: 14px;
}

/* application_banner-end */

/* Solution-end */

/* ContactUs-start */

/* banner-start */

.contact_banner {
    height: 300px;
    width: 100%;
    background: url(../images/contact_us/u1370.jpg) no-repeat center;
    background-size: cover;
}

.contact_banner p {
    top: 0;
    left: 0;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 100px;
    z-index: 100;
}

/* banner-end */

/* address_banner-start */

.address_banner {
    width: 100%;
    margin-bottom: 40px;
}

.address_banner .special_address {
    margin-bottom: 40px;
    height: 240px;
    background: url(../images/contact_us/u1406.jpg) no-repeat center;
}

.address_banner .special_address .mock_content {
    color: #fff;
    z-index: 100;
}

.address_banner .special_address .mock_content>h2 {
    font-size: 20px;
    padding: 40px 0 10px 30px;
}

.address_banner .special_address .mock_content>p {
    padding: 0 0 10px 30px;
}

.address_banner .address_item {
    width: 100%;
    height: 240px;
    background-color: #ececec;
    margin-bottom: 40px;
}

.address_banner .address_item>h2 {
    font-size: 18px;
    padding: 20px 0 10px 20px;
}

.address_banner .address_item>p {
    padding: 0 0 10px 20px;
    color: #999999;
}

/* address_banner-end */

/* address_pic_banner-start */

.address_pic_banner {
    width: 100%;
    margin-bottom: 40px;
}

.address_pic_banner .container {}

.address_pic_banner .container img {
    width: 100%;
    height: 100%;
    padding: 0 15px;
}

/* address_pic_banner-end */

/* ContactUs-end */

/* product-start */

/* product_banner-start */

.product_banner {
    margin-bottom: 40px;
}

.product_banner p {
    font-size: 14px;
    padding: 0 0 15px 20px;
}

.product_banner span {
    color: #999999;
}

/* product_banner-end */

/* recommend_product_banner-start */

.recommend_product {
    width: 100%;
    margin-bottom: 40px;
}

.recommend_product .mockPic_p>p {
    height: 15%;
    bottom: 0px;
    color: #000;
    padding-top: 3%;
    text-align: center;
    background-color: #fff;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}

/* recommend_product_banner-end */

/* product-end */

/* limestone-start */

/* material_introduction_banner-start */

.material_introduction_banner {
    width: 100%;
    margin-bottom: 40px;
}

.material_introduction_banner .introduct {
    background-color: #f2f2f2;
    padding: 15px 10px;
}

.material_introduction_banner .introduct h4 {
    font-size: 18px;
    padding: 5px 0px 10px 15px;
}

.material_introduction_banner .introduct p {
    color: #999999;
    padding: 0px 0px 0px 15px;
}

/* material_introduction_banner-end */

/* process_banner-start */

.process_banner {
    width: 100%;
    margin-bottom: 40px;
}

.process_banner .process img {
    height: 180px;
    width: 335px;
}

.process_banner .process p {
    color: #999999;
    padding: 30px 20px 30px 20px;
    background-color: #f2f2f2;
}

/* process_banner-end */

/* application_banner-start */

.application_banner {
    width: 100%;
    margin-bottom: 40px;
}

.application_banner .app_item {
    margin-bottom: 20px;
}

.application_banner .app_item p {
    color: #fff;
    text-align: center;
    top: 0;
    right: 0;
    width: 100%;
    line-height: 100px;
    z-index: 999;
}

/* application_banner-end */

/* limestone-end */

/* mtw-start */

/* product_banner-start */

.new_product_banner {
    margin-bottom: 20px;
}

.pro_detail .pro_introduct h1 {
    color: #333;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 35px;
}

.pro_detail .pro_introduct p {
    color: #999999;
    line-height: 24px;
    margin-bottom: 20px;
}

.pro_detail .seek_price a {
    width: 165px;
    height: 45px;
    line-height: 33px;
}

.pro_detail .seek_phone a {
    width: 155px;
    height: 45px;
    line-height: 33px;
}

/* product_banner-end */

/* product_series-start */

.product_series_banner #product_nav li {
    float: left;
}

.product_series_banner #product_nav li a {
    font-size: 16px;
    line-height: 40px;
    padding: 0 20px;
}

.product_series_banner #product_nav li.active {
    background-color: #075ccb;
}

.product_series_banner #product_nav li:hover {
    background-color: #075ccb;
}

.product_series_banner #product_nav li:hover a {
    color: #fff;
}

.product_series_banner #product_nav li.active a {
    color: #fff;
}

.product_series_banner hr {
    margin-top: 0px;
}

/* product_series-end */

/* feature_banner-start */

.feature_banner {
    width: 100%;
    margin-bottom: 40px;
}

.feature_banner .feature_pic {
    width: 80px;
    height: 80px;
    background: url(../images/mtw/u412.png) no-repeat center;
    margin-left: 15px;
}

.feature_banner .row {
    margin-top: 40px;
}

.feature_banner .feature_pic img {
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
}

.feature_banner .feature_content {
    padding-left: 110px;
}

.feature_banner .feature_content h2 {
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 700;
}

.feature_banner .feature_content p {
    color: #999999;
}

/* feature_banner-end */

/* principle_banner-start */

.principle_banner {
    margin-bottom: 40px;
}

.principle_banner .media-body p {
    color: #999999;
}

/* principle_banner-end */

/* mtw-end */

/* home-start */

/* home_header-start */

.home_header_nav {
    width: 100%;
    height: 642px;
    margin-bottom: 40px;
}

.home_header_nav video {
    width: 100%;
    height: 642px;
    top: 0;
    left: 0;
}

.home_header_nav .home_head {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}

.home_header_nav .header_nav {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.home_header_nav .navbar-header {
    height: 98px;
}

.home_header_nav .navbar-brand {
    height: 100%;
    padding: 0;
}

.home_header_nav .navbar-brand img {
    width: 98px;
    height: 98px;
}

.home_header_nav .header_nav .nav_list>li {
    margin: 0px;
    padding: 0 15px;
}

.home_header_nav .header_nav .nav_list>li>a {
    line-height: 30px;
    padding: 15px 0px;
    margin: 19px 0px 19px 0px;
    font-size: 16px;
    color: #fff;
}

.home_header_nav .header_nav .header_content .tel_pic {
    width: 24px;
    height: 24px;
    float: left;
    background: url(../images/home/u37.png) no-repeat center;
    background-size: cover;
    margin: 37px 0px 37px 0px;
}

.home_header_nav .header_nav .header_content>p {
    line-height: 20px;
    margin: 39px 0px 39px 5px;
    color: #fff;
}

.home_header_nav .navbar-default .navbar-nav>.active>a {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.home_header_nav .navbar {
    margin-bottom: 0px;
}

.home_header_nav .header_nav li.active a,
.home_header_nav .header_nav li:hover a {
    border-bottom: 2px solid #fff;
    color: #fff;
}

.home_header_nav .home_intro {
    z-index: 999;
    width: 100%;
    color: #fff;
    top: 200px;
}

.home_header_nav .home_intro h1 {
    font-size: 40px;
}

.home_header_nav .home_intro p {
    font-size: 20px;
    padding-top: 20px;
}

/* home_header-end */

/* home_fivebanner-start */

.home_fivebanner .pic_small {
    width: 250px;
    height: 175px;
}

.home_fivebanner .pic_big {
    width: 560px;
    height: 370px;
}

.home_fivebanner img {
    width: 100%;
    height: 100%;
}

.home_fivebanner td {
    border: none !important;
}

.super_mock:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

.bottom_mock:after {
    content: '';
    display: block;
    width: 100%;
    height: 20%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottom_con {
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    z-index: 999;
}

.bottom_con h2 {
    padding: 3% 0 3% 3%;
}

.super_con {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    top: 0;
    left: 0;
    z-index: 999;
}

.super_con h2 {
    font-size: 28px;
    text-align: center;
    padding-top: 12%;
}

.super_con p {
    padding: 8% 8% 0 8%;
    text-align: left;
}

.super_con a {
    margin-top: 5%;
}

/* home_fivebanner-end */

/* home-end */

/* products-start */

/* mian_product_banner-start */

.main_product_banner {
    width: 100%;
    margin-bottom: 40px;
}

.main_product_banner .tab-content h2 {
    font-size: 16px;
    text-align: center;
    line-height: 60px;
    background-color: #f2f2f2;
    color: #333;
    margin-bottom: 35px;
}

/* main_product_banner-end */

/* products_banner-start */

.products_banner {
    height: 300px;
    background: url(../images/product/u189.jpg) no-repeat center;
    background-size: cover;
    overflow: hidden;
}

.products_banner .products_banner_content {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.products_banner .products_banner_content h2 {
    font-size: 28px;
    padding-top: 60px;
}

.products_banner .products_banner_content p {
    font-size: 16px;
    padding-top: 40px;
}

/* products_banner-end */

/* product_bottom_banner-start */

.product_bottom_banner {
    margin-bottom: 40px;
    width: 100%;
}

.product_bottom_banner .nav_list {
    margin-bottom: 40px;
    width: 100%;
    background-color: #ececec;
}

.product_bottom_banner .nav a {
    padding: 10px 30px;
}

.product_bottom_banner .col-lg-4 {
    overflow: hidden;
}

.product_bottom_banner .mock_content {
    top: 82%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
    padding: 0 15px;
}

.product_bottom_banner .mock_content h2 {
    padding-top: 10px;
    color: #333;
    font-size: 16px;
}

.product_bottom_banner .mock_content p {
    text-align: left;
    padding: 20px 0 0 10px;
}

.product_bottom_banner .mock_content {
    transition: all 3s;
    -webkit-transition: all 1s;
}

.product_bottom_banner a.pic_item:hover .mock_content {
    top: 0;
    padding: 0 15px;
}

.product_bottom_banner a.pic_item:hover .mock_content>h2 {
    padding-top: 30px;
    color: #333;
    font-size: 16px;
}

.product_bottom_banner a.pic_item:hover .mock_content>p {
    color: #333;
    text-align: left;
    padding: 20px 0 0 10px;
}

/* product_bottom_banner-end */

/* products-end */

/* news-start */

/* news_banner-start */

.news_banner {
    height: 300px;
    background: url(../images/news/u664.jpg) no-repeat center;
    background-size: cover;
}

.news_banner .news_banner_content {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.news_banner .news_banner_content h2 {
    font-size: 28px;
    padding-top: 80px;
}

.news_banner .news_banner_content p {
    font-size: 16px;
    padding-top: 40px;
}

/* news_banner-end */

/* newslist_banner-start */

.newslist_banner {
    margin-bottom: 40px;
}

.newslist_banner .news_date {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    color: #999999;
}

.newslist_banner .news_date .date_day {
    font-size: 58px;
    text-align: center;
    line-height: 100%;
    padding-top: 10%;
}

.newslist_banner .news_date .date_yearmonth {
    font-size: 16px;
    text-align: center;
    line-height: 100%;
    padding-bottom: 10%;
}

.newslist_banner .news_content {
    width: 100%;
    height: 100%;
}

.newslist_banner .news_content .news_title {
    font-size: 18px;
}

.newslist_banner .news_content .news_int {
    color: #bababa;
    padding-top: 1%;
}

.newslist_banner .news_content a {
    display: block;
    color: #bababa;
    padding-top: 1%;
}

.newslist_banner .news_item:hover .news_date {
    color: #075ccb;
}

.newslist_banner .news_item:hover .news_content a {
    color: #075ccb;
}

/* newslist_banner-end */

/* news-end */

/* material-start */

/* materialall_banner-strat */

.materialall_banner {
    width: 100%;
    height: 300px;
    background: url(../images/materiel/u1508.jpg) no-repeat center;
    background-size: cover;
    color: #fff;
    overflow: hidden;
}

.materialall_banner .materialall_banner_content h2 {
    font-size: 24px;
    padding-top: 50px;
}

.materialall_banner .materialall_banner_content p {
    font-size: 16px;
    padding-top: 20px;
}

/* materialall_banner-end */

/* materiallist_banner-start */

.materiallist_banner {
    margin-bottom: 40px;
}

.materiallist_banner .material_item {
    margin-bottom: 40px;
}

.materiallist_banner .material_item .material_pic img {
    height: 130px;
}

.materiallist_banner .material_item .material_intro {
    background-color: #f2f2f2;
    height: 130px;
}

.materiallist_banner .material_item h2 {
    font-size: 18px;
    padding-top: 10px;
}

.materiallist_banner .material_item p {
    color: #999999;
    padding-bottom: 10px;
}

/* materiallist_banner-end */

/* material-end */

/* cases-start */

/* cases_banner-start */

.cases_banner {
    height: 300px;
    background: url(../images/solution/u927.jpg) no-repeat center;
    background-size: cover;
}

.cases_banner .cases_banner_content {
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    text-align: center;
}

.cases_banner .cases_banner_content h2 {
    font-size: 28px;
    padding-top: 80px;
}

.cases_banner .cases_banner_content p {
    font-size: 16px;
    padding-top: 40px;
}

/* cases_banner-end */

/* cases-end */

.xs-hidden {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.thumbnail {
    border: none !important;
    padding: 0;
}